<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<property name="charset" value="UTF-8" />
	<module name="FileLength">
		<property name="max" value="1500" />
	</module>
	<module name="FileTabCharacter">
		<property name="eachLine" value="false" />
	</module>
	<module name="Header">
		<property name="headerFile" value="java.header" />
		<property name="fileExtensions" value="java" />
	</module>






	<module name="TreeWalker">
		<module name="AvoidStarImport">
			<property name="excludes"
				value="java.io,java.net,java.lang.Math" />
			<property name="allowClassImports" value="false" />
			<property name="allowStaticMemberImports" value="false" />
		</module>
		<module name="IllegalImport">
			<property name="illegalPkgs" value="java.io, java.sql" />
		</module>
		<module name="BooleanExpressionComplexity">
			<property name="max" value="7" />
		</module>
		<module name="CyclomaticComplexity">
			<property name="max" value="15" />
		</module>
		<module name="NeedBraces">
			<property name="tokens" value="LITERAL_IF, LITERAL_ELSE" />
		</module>
		<module name="LineLength">
			<property name="max" value="120" />
		</module>
		<module name="MethodLength">
			<property name="tokens" value="METHOD_DEF" />
			<property name="max" value="60" />
		</module>
		<module name="EmptyCatchBlock">
			<property name="exceptionVariableName"
				value="expected|ignore" />
		</module>
	</module>

</module>